$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$profile-image: url(https://scontent.fgse1-1.fna.fbcdn.net/v/t31.18172-8/23632737_151305258953374_8352600265562988129_o.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=XjrMyEHppXgAX8Nr7vZ&_nc_ht=scontent.fgse1-1.fna&oh=25c559b7bbd91a8168e8752e5bdec555&oe=61DB1EE6);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      // Pseudo-element that adds an overlay on the background to lighten it
      &:after {
        content: "";
        // Move the overlay to the back of all the content of the body. So it will only be in front of the background
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Media Query Mixins
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
