* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Header */
header {
  background-color: rgb(50, 50, 50);
  color: white;
}

.header {
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header #brand {
  width: 9em;
}

header #main-nav {
  flex: 1;
  margin-left: 1rem;
}

header nav ul {
  list-style: none;
  line-height: 3em;
}

header nav ul li {
  display: inline-block;
  padding: 0px 10px;
  font-size: .9rem;
}

header #main-nav a {
  color: #bbb;
  text-decoration: none;
}

header #main-nav a:hover {
  color: #fff;
}

ul li img,
ul li svg {
  vertical-align: middle;
}



/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

@media(max-width: 1200px) {
  .container {
    width: 95%;
  }

  /* header #right-nav ul {
  float: initial;
  text-align: center;
} */
}

@media(max-width: 1000px) {}
