body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Header */
header {
  background-color: rgb(50, 50, 50);
  color: white;
}

header #brand {
  flex: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

header #brand img {
  width: 9em;
}

header nav {
  flex: 7;
  margin-top: 5px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 3em;
}

header nav ul li {
  display: inline;
  padding: 0px 10px;
  font-size: .9rem;
}

header nav a {
  color: #bbb;
  text-decoration: none;
}

header nav a:hover {
  color: #fff;
}

header #right-nav {
  flex: 2;
}

header #right-nav ul {
  float: right;
}

ul li img,
ul li svg {
  vertical-align: middle;
}



/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

@media(max-width: 1180px) {
  .container {
    width: 95%;
  }

  .flex-container {
    display: block;
  }

  header #right-nav ul {
    float: initial;
    text-align: center;
  }
}
